html{
	font-size: 45px;
}
 html,body,div,p,ul,li,ol{
	margin:0;
	padding:0;
}
.clear{clear:both;}
.toubu{
	width: 100%;
	height: 4rem;
	background-color: #eee;
	text-align: center;
}
.toubu .dingduan{
	width: 100%;
	height: 50%;
}
.dingduan .zuobian{
	width:2rem;
	height: 2rem;
	float: left;
}
.zuobian a{
	width: 100%;
	height: 100%;
	display: inline-block;
	line-height: 2rem;
}
.zuobian img{
	display: inline-block;
	width: 50%;

}
.zhongjian{
	display: inline-block;
	width: 45%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
}
.zhongjian .wph{
	font-size: 110%;
	text-decoration: none;
	color: red;
	display: inline-block;
}
.zhongjian .sh{
	text-decoration: none;
	font-size: 0.6rem;
	display: inline-block;
}
.zhongjian span{
	display: inline-block;
	transform: rotateZ(90deg);
}
.youbian{
	float: right;
	width: 2rem;
	height: 2rem;
}
.youbian a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.youbian img{
	display: inline-block;
	width: 50%;
	height: 50%;
	margin:25%;
}
.daohanglan{
	background-color: #333;
	height: 50%;
}
 .daohanglan ul{
 	width: 100%;
 	height: 100%;
 }
 .daohanglan li{
 	text-align: center;
 	border-right: 0.5px solid #fff;
 	box-sizing: border-box;
  	float: left;
 	 height:100%;
 	 line-height: 100%;
 	 list-style: none;
 }
  .daohanglan a{
  	text-decoration: none;
  	color: #fff;
  	font-size: ;
  	display: inline-block;
  	margin:0 auto;
    width: 100%;
    height: 100%;
    line-height:1.6rem;
  }
  .daohanglan span{
  	display: inline-block;
  	font-size: 0.7rem;
  }
  .daohanglan .shouye{
  	width: 19%;
  }
  .daohanglan .fushi{
  	width: 24%;
  }
  .daohanglan .meizhuang{
  	width: 16%;
  }
 .daohanglan .muying{
 	border-right: none;
 }
body{
	position: relative;
}
.toubu{
	position: fixed;
}
.shiyan{
	height: 1000px;
} 













